.content {
  @include flex(column);
  padding: 36px 32px 20px 32px;
  @include desktop{
    width: calc(100% - 285px);
    max-width: 365px;
    padding: 0;
    margin: 0 auto;
  }
  h1 {
    margin-bottom: 12px;
  }
  .description {
    margin-bottom: 52px;
    @include desktop{
      margin-bottom: 20px;
    }
  }

}

.bottom-card {
  position: relative;
  @include flex(row, space-between);
  width: 100%;
  .user {
    @include flex;
    .avatar {
      padding-right: 16px;
      border-radius: 100%;
    }
  }
}


