@mixin flex($flex-direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin desktop {
  @media(min-width:$desktop) {
    @content;
  }
}
