@import "./_variables";
@import "./mixins";
@import "./placeholders";
@import "./body";

// Card files
@import "./card/card";
@import "./card/content";

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

